@font-face {
    font-family: Dosis-light;
    src: url('../Fonts/Dosis-Light.ttf');
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url('../Fonts/RobotoCondensed-Regular.ttf');
}


/*Global variables*/

:root {
    --font-title: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-secondary: RobotoCondensed-Regular;
    --color-primary: #2d3633;
    --color-primary-variation: #363f3a;
    --color-secondary: #c3c6bd;
    --color-secondary-light: #e1e3e8;

    --text-color-light: var(--color-secondary-light);
    --text-color-faded: #39422a;

}

/*Resetting defaults*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: var(--text-color-light);
}

/*Global attributes*/

body {
    display: block;
    text-rendering: optimizeSpeed;
    background-color: var(--color-secondary);
    overflow-x: hidden;
}


/*Navigation bar*/

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-primary);
    z-index: 1;
}

.header_logo {
    display: flex;
    max-width: 14rem;
}

.header_logo img {
    max-width: 100%;
    object-fit: contain;
}

.button_navMenu {
    position: absolute;
    top: 2.3rem;
    right: 1.5rem;
    display: flex;
    max-width: 70px;
}

.button_navMenu img {
    width: 100%;
    object-fit: cover;
}

.nav_link_list {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);

    flex-direction: column;
    padding: 1em;
    z-index: 1;
}

.nav_link_list li {
    margin-top: 1em;
    height: 5em;
    list-style-type: none;
}

.nav_link_list.active {
    position: absolute;
    display: flex;
    top: 7.5em;
}

.nav_link_list a {
    text-decoration: none;
    font-family: var(--font-secondary);
    color: var(--text-color-light);
    font-size: 2.5rem;
}

.nav_link_list a:hover {
    cursor: pointer;
    color: rgb(103, 173, 62);
}

/*Footer*/

footer {
    position: static;
    width: 100%;
    padding: 2em;
    
    background-color: var(--color-primary);
}

footer a {
    font-size: 2rem;
}

/*Home page*/

.img-display {
    padding: 1em;
}

.img-display img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 30% 70% 70% 30% / 26% 30% 70% 74%;
    transition: 0.8s ease-in-out;
}

.img-display img:hover {
    border-radius: 62% 38% 74% 26% / 41% 71% 29% 59%;
    box-shadow: 0 4px 50px 0 rgba(51, 71, 37, 0.3);
}

/*Login and register form section*/

.login-register {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-bottom: 5em;
    justify-content: center;
    align-items: center;
}

.login-register h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 800;
    padding: 1.5rem;
    text-align: center;
    color: #2d3633;
}

.login-register p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    color: #2d3633;
}

.login-register a {
    font-size: 1rem;
    color: #7fa86b
}

.login-register .Form-section {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;

}

.login-register input {
    display: flex;
    width: 80%;
    height: 2.5em;
    margin-top: 1em;
    padding-left: .5em;
    border: 0;

    background-color: var(--color-secondary-light);

    color: var(--text-color-faded);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.Form-section button {
    margin-top: 2em;
    min-width: 7em;
    min-height: 4em;
    background-color: #2d3633;
    border: 0;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Form-section button:hover {
    background-color: #58625f;
}

.dropdown {
    position: relative;
    width: 100%;
    user-select: none;
}

.dropdown:hover {
    cursor: pointer;
}

.button_dropdownmenu {
    display: flex;
    width: 100%;
    background-color: #242a28;
}

.dropdownmenu_list {
    position: absolute;
    min-width: 100%;

    background-color: #242a28;
    z-index: 1;
}

.dropDown_item {
    display: flex;
    width: 100%;
    padding: .5em;
    align-items: center;
    justify-content: left;

}

.dropDown_item span {
    font-size: 2rem;
    font-family: RobotoCondensed-Bold;
    letter-spacing: 3px;
    color: var(--text-color-light)
}

.dropDown_item:hover {
    transition: background-color 0.25s ease-in-out;
    background-color: rgb(96, 115, 96);
    cursor: pointer;

}

.dropDown_item.selected {
    color: rgb(255, 255, 255);
    transition: background-color 0.25s ease-in-out;
    background-color: rgb(96, 115, 96);
}


@media screen and (orientation: landscape) {

    html {
        font-size: 16px;
    }

    .footer a {
        font-size: 1rem;
    }

    .home-page {
        display: flex;
        flex-wrap: wrap;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header_logo {
        max-width: 8.95rem;
    }

    .button_navMenu {
        display: none;
    }

    .nav_links {
        width: 100%;
    }

    .nav_link_list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        padding: 0;

        background-color: rgba(255, 255, 255, 0);
    }

    .nav_link_list li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-right: 1em;
    }

    .nav_link_list a {
        font-size: 1rem;
        padding-right: .5em;
        padding: 0;
    }

    .container {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }

    .col-100 {
        flex: 0 0 100%;
    }

    .col-70 {
        flex: 0 0 70%;
    }

    .col-30 {
        flex: 0 0 30%;
    }

    .img-display {
        display: flex;
        max-width: 100%;
        max-height: 100%;
    }
    .dropdown {
        width: 100%;
    }

    .dropdownmenu_list {
        width: auto;
    }

    .dropdownmenu_list li span {
        margin-left: 0;
        margin-right: 1em;
        font-size: 1rem;
    }

}