@font-face {
    font-family: Dosis-ExtraLight;
    src: url('../Fonts/Dosis-ExtraLight.ttf');
}
@font-face {
    font-family: JosefinSans-Light;
    src: url('../Fonts/JosefinSans-Regular.ttf');
}
@font-face {
    font-family: RobotoCondensed-Regular;
    src: url('../Fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
    font-family: RobotoCondensed-Bold;
    src: url('../Fonts/RobotoCondensed-Light.ttf');
}
.project_page {
    display: flex;
    justify-content: left;
}

.container_projects {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;

    width: 80%;
}



.project-card,
#button_addNewProject {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;

    border: 0;

    width: 280px;
    height: 200px;
    margin: 10px;

    background-image: url("../Images/card_newTask.png");

    background-size: 90% 88%;
    background-position: center;
    background-repeat: no-repeat;


    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in;
    transition: box-shadow 0.3s ease-in-out ;
}

.project-card {
    background-image: none;
    outline: 2px solid green;
}
.project-card:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);

    background-color:rgb(209, 223, 208);
}
.project-card:active  {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

    background-color:rgb(205, 213, 203);
}
.project-card h1 {
    width: 95%;
    margin-top: 2%;
    margin-left: 5%;

    height: fit-content;
    font-family: RobotoCondensed-Regular;
    font-size: xx-large;

    border-bottom: 1px solid #242c24;
    color: #2b392b

}

.project-card p {
    width: 100%;
    height: fit-content;
    margin: 2%;
    margin-left: 5%;

    font-family: JosefinSans-Light;
    font-size: medium;
    color: rgb(80, 103, 85)
}

.button_projectSettings {
    visibility: hidden;
    position: absolute;
    bottom: 25px;
    max-width: 20px;
    max-height: 20px;
    border: 0;
    background: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

}

.project-card:hover .button_projectSettings {
    opacity: 1;
    visibility: visible;
}

.button_projectSettings:hover+.prority_dropDown ul,
.prority_dropDown:hover {
    visibility: visible;
}

.button_projectSettings img {
    width: 100%;
    height: 100%;
    opacity: 60%;
}

.prority_dropDown ul {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 37%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    list-style-type: none;
}

.prority_dropDown li {
    padding: 5px 10px;

    width: 100%;
    background-color: rgb(245, 243, 229);
}

.prority_dropDown li:hover {
    background-color: rgb(228, 228, 228);
}

#textfield_projectName {
    border: 0;
    width: 100%;
    height: 100%;

    text-align: center;
    font-size: large;
    font-family: JosefinSans-Light;

    background-color: #9da3a03a;
}


.filter_project {
    display: flex;
    width: 7.4vw;
    height: 100vh;
    align-items: top;
    justify-content: center;
    background-color: #242a28;
}

.filter_project ul {
    display: flex;
    width: 100%;

    flex-direction: column;
    list-style-type: none;
    user-select: none;
}

.filter_project li {
    display: flex;
    width: 100%;
    height: 50px;

    align-items: center;
    justify-content: left;

    
}
.filter_project li span{
    margin-left: 5%;
    font-size: 20px;
    font-family: RobotoCondensed-Bold; 
    letter-spacing: 2px;
    color: rgb(241, 255, 240);
}
.filter_project li:hover {
    color: rgb(255, 255, 255);
    transition: background-color 0.25s ease-in-out;
    background-color: rgb(96, 115, 96);
}

.filter_selected {
    color: rgb(255, 255, 255);
    transition: background-color 0.25s ease-in-out;
    background-color: rgb(96, 115, 96);
}