@font-face {
    font-family: Dosis-ExtraLight;
    src: url('../FrontEnd/Fonts/Dosis-ExtraLight.ttf');
}

@font-face {
    font-family: JosefinSans-Light;
    src: url('../Fonts/JosefinSans-Light.ttf');
}

@font-face {
    font-family: JosefinSans-reg;
    src: url('../Fonts/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url('../Fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: RobotoCondensed-light;
    src: url('../Fonts/RobotoCondensed-Light.ttf');
}

/* Reset button*/
button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

/* Task page*/

.task-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Task page header*/

.taskPage-header {
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary-variation);
}

.taskPage-header h1 {
    position: relative;
    font-size: 3rem;
    font-family: JosefinSans-Light;
    padding: .4em;
}

.taskPage-header h1::after {
    content: '';
    position: absolute;
    top: 15%;
    left: 100%;
    width: 1.5px;
    height: 70%;
    background-color: aliceblue;
}

.button_projectDetails {
    width: 50px;
    margin-right: 1rem;
}

.button_projectDetails img {
    width: 100%;
}

.button_projectDetails img:hover {
    cursor: pointer;
    filter: brightness(.6) sepia(1) hue-rotate(60deg);
}

/* Task-page sidebar*/

.details-sidebar {
    visibility: hidden;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 90%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgb(40, 46, 44);
    align-items: center;
    border-left: solid 1rem;
    border-color: rgba(229, 255, 229, 0.107);
    font-size: 2rem;
    font-family: var(--font-title);
    z-index: 2;
}

.details-sidebar.active {
    visibility: visible;
}

/*Sidebar title and close button*/

.button-closeSideBar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1.5em;
    padding-right: 1.5em;
}

.button-closeSideBar span {
    position: relative;
    width: 100%;
    font-size: 1.25em;
    text-align: center;
    margin-left: 10%;
}

.button-closeSideBar img {
    width: 1.25em;
}

.button-closeSideBar img:hover {
    display: flex;
    cursor: pointer;
    filter: brightness(.6) sepia(1) hue-rotate(60deg);
}

/* Task-page sidebar's lists*/

.details {
    width: 100%;
    margin-top: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.details .button_dropdownmenu {
    display: flex;
    position: relative;

    width: 100%;
    padding: 1em;

    font-size: 1.5em;

    flex-direction: row;
    align-items: center;

    border-top: solid .05em;
    border-bottom: solid .05em;
    border-color: rgba(255, 255, 255, 0.3);
}

.details .button_dropdownmenu {
    background-color: rgb(58, 66, 57);
    cursor: pointer;
    max-height: 3em;
}
.details .button_dropdownmenu button
{
    width: 1em;
    margin-left: 1.5em;
    margin-top: .3em;
}
.details .button_dropdownmenu img {
    width: 100%;
}

.details .button_dropdownmenu img:hover {
    cursor: pointer;
    filter: brightness(.6) sepia(1) hue-rotate(60deg);
}

.details .button_dropdownmenu::after {
    content: '';
    position: absolute;
    left: 90%;
    top: 40%;
    background-image: url('/FrontEnd/Images/icon_arrow_down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    pointer-events: none;
}

.details .list_members {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 1em;
}

.details .dropDown_item {
    background-color: rgb(24, 25, 23);
    border-bottom: solid .05em;
    border-color: rgba(255, 255, 255, 0.3);
}

.details .list_members span {
    font-size: 1.25em;
    margin-right: 50%;
}

.details .list_members img {
    width: 2.5em;
}

.details .btn_kickUser {
    width: 2.5em;
}

.details .btn_kickUser img {
    width: 100%;
}

.button-leave {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: end;
}

.button-leave button {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    margin: 1em;
    padding: 1.5em;
    background-color: rgb(76, 85, 73);
    border: none;
    justify-content: center;
}

.button-leave img {
    width: 3.5rem;
}

.button-leave h2 {
    font-size: 2.2rem;
    padding-top: .5em;
    padding-left: .5em;
}

/*Add member diplay*/
.display_addMember
{
    display: flex;
    position: absolute;
    flex-direction: column;
    
    width: 50rem;
    height:30rem;
    padding: 2em;
    
    left: 50%;
    top: 300%;

    transform: translate(-50%,0);
    z-index: 2;
    align-items: center;
    background-color: #a8b3a4;
    
    font-size: 1.5rem;
    border-radius: 2rem;
}
.display_addMember .row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.display_addMember input
{
    width: 15em;
    height: 2.5em;
    appearance: none;
    
    border: none;
    border-radius: .4em;
    
    font-size: 2.25rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1em;
    padding: 1em;
    text-align: start;
    background-color: #909d8c;

}
.display_addMember input:focus {
    border: 3px solid rgb(65, 79, 59); 
}
.display_addMember .btn_search
{
    width: 5rem;
    margin-left: 1em;
}
.display_addMember .btn_search img
{
    width: 100%;
}
.display_addMember .btn_search img:hover {
    cursor: pointer;
}
.display_addMember .msg_searchEmail
{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #242a28;
}
.searchedMember {
    display: flex;
    width: 80%;
    
    padding: 0 1em 0 1em;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(88, 99, 77);
    
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.searchedMember  img {
width: 2.5em;
margin: .5em;
border-radius: 3em;
}

.searchedMember span {
    font-size: 1.25em;
    margin-right: 20%;
}

.searchedMember button {
    width: 1.5em;
}
.searchedMember button:hover {
cursor: pointer;
}
.searchedMember button img {
    width: 100%;
}

/*Task page containers*/
.task-sections-container {
    display: flex;
    width: 100%;
    height: 100%;

    overflow-x: scroll;
    flex-direction: row;
}

.task-container {
    display: flex;
    min-height: 17%;
    width: 70%;
    flex-shrink: 0;
    margin: 3em;
    margin-top: 4em;

    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    background-color: rgb(128, 138, 132);
    border-radius: 30px;
}

.container-title {
    display: flex;
    width: 100%;
}

.container-title h2 {
    padding: .5em;
    font-size: 3rem;
    font-family: JosefinSans-reg;
    color: rgb(36, 56, 52);
}


.task-card {
    position: relative;
    display: flex;
    width: 90%;
    min-height: 200px;
    padding: 1em;
    margin-bottom: 2em;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgb(40, 46, 44);
    border-radius: 20px;
}


.task-title {
    display: flex;
    font-size: 3rem;
    font-family: JosefinSans-reg;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-user-info {
    display: flex;
    width: 100%;
    margin-top: 2em;
    align-items: center;
    justify-content: flex-end;
}

.task-user-info h3 {
    font-size: 1.5rem;
    font-family: JosefinSans-reg;
    margin-right: 1em;
    margin-top: .5em;
}

.img_asignee {
    width: 3em;
}

.img_asignee img {
    width: 100%;
    border-radius: 90px;

    object-fit: cover;
}

.priority_indicator {
    width: 20%;
    height: 5px;
    border-radius: 2px;
    margin: 0 auto 0 auto;
    background-color: rgb(255, 97, 97);
    transition: width 0.25s ease-out;
}

.priority_indicator.high {
    background-color: rgb(255, 97, 97);
}

.priority_indicator.normal {
    background-color: rgb(255, 176, 85);
}

.priority_indicator.low {
    background-color: rgb(173, 255, 97);
}

.priority_indicator:hover {
    width: 30%;
}

.priority_indicator:hover .tool-tip {
    visibility: visible;
    background-color: rgba(174, 180, 185, 0.867);
}

.tool-tip {
    visibility: hidden;
    position: absolute;
    width: auto;
    padding: .25em;
    left: 37.5%;
    top: 95%;
    font-size: .6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    transition: background-color .5s ease-out;

    border-radius: 7px;
}


.button_newTask {
    width: 5rem;
    background-color: black;
}

/*Task detailed display*/
.display-task {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: rgb(50, 57, 55);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
    font-size: 2rem;
}

.taskDisplay-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em .5em 1em .5em;
}

.taskDisplay-section h1 {
    position: relative;
    font-size: 1.5em;
    font-family: JosefinSans-reg;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.field_description,
.taskDisplay-section p {
    width: 80%;
    height: 10em;
    padding: 1em;
    background-color: rgb(32, 36, 35);
    border-radius: 1rem;
    font-size: 1.25em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 70%;
    text-align: start;
}

.field_title {
    height: 2rem;
    font-size: 1.5em;
    font-family: JosefinSans-reg;
    white-space: nowrap;
    text-overflow: ellipsis;

    background-color: #202423;

    border: none;
    border-radius: .25em;
    outline: none;
}

.btn_edit {
    width: 1em;
    height: 1em;
}

.btn_edit:hover {
    cursor: pointer;
    filter: brightness(.6) sepia(1) hue-rotate(60deg);
}

.btn_close {
    width: 1.5em;
}

.btn_close img {
    width: 100%;
}

.btn_close img:hover {
    cursor: pointer;
    filter: brightness(.4) sepia(1) hue-rotate(300deg);
}

/*Task progress dropdown*/
.taskDisplay-section .dropdown {
    width: 40%;
    justify-content: left;
}

.taskDisplay-section .button_dropdownmenu::after {
    content: '';
    position: absolute;
    left: 80%;
    top: 40%;
    background-image: url('/FrontEnd/Images/icon_arrow_down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    pointer-events: none;
}

.taskDisplay-section label {
    font-size: 1.25em;
    font-family: RobotoCondensed-Bold;
    letter-spacing: 3px;
    padding: .5em 0 .5em 0.5em;
}

.taskDisplay-section .button_dropdownmenu {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.366);
    background-color: rgb(24, 25, 23);

}

.taskDisplay-section .button_dropdownmenu:hover {
    background-color: rgb(0, 0, 0);

}

.taskDisplay-userInfo {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 40%;
    height: fit-content;
    background-color: rgb(0, 0, 0);
}

.taskDisplay-userInfo h2 {
    font-size: 1em;
    padding: .5em;
    font-family: JosefinSans-reg;
    white-space: nowrap;
}

.taskDisplay-userInfo .dropdown {
    width: 100%;
}

.assignedUser {
    display: flex;
    padding: .5em;
    background-color: #242a28;
    align-items: center;
    justify-content: space-between;
}

.taskDisplay-userInfo span {
    font-size: 1.5em;
    font-family: RobotoCondensed-Bold;
    letter-spacing: 3px;
    color: var(--text-color-light);
}

.listItem_members {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.taskDisplay-userInfo img {
    width: 2.25em;
    border-radius: 2em;
}

.taskDisplayButton-section {
    display: flex;
    margin-top: 40%;
}

.btn_save {
    height: 2em;
    font-size: 1.5em;
    padding: .5em .75em .5em .75em;
    font-family: JosefinSans-reg;
    background-color: #89b477;
    color: #242a28;
}

.btn_save:hover {
    background-color: #667a5e;
}

.btn_save:active {
    background-color: #3f4c3b;
}

.btn_delete {
    width: 3em;
    height: 3em;
    background-color: rgb(185, 59, 59);
}

.btn_delete:hover {
    background-color: rgb(194, 79, 79);
}

.btn_delete:active {
    background-color: rgb(145, 61, 61);
}

.btn_delete img {
    width: 1.5rem;
}

@media screen and (orientation: landscape) {

    .button-closeSideBar img {
        width: 1rem;
    }

    .button-closeSideBar {
        padding-right: 1em;
    }

    .taskPage-header {
        height: 60px;
    }

    .taskPage-header h1 {
        font-size: 2rem;
    }

    .button_projectDetails {
        width: 40px;
    }


    .details-sidebar {
        width: 20%;
        border-left: solid .1rem;
        font-size: 1rem;
    }

    .details-sidebar span {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    .list_members span {
        font-size: 1rem;
    }

    .list_members img {
        width: 2em;
        margin-right: 1em;
    }

    .card-header {
        padding: .5em;
        font-size: 1.2rem;
    }

    .card-header h2 {
        padding: .5em;
    }

    .card-header h2:hover {
        background-color: rgb(58, 66, 57);
    }

    .card-header img {
        width: 1.3rem;
    }

    .button-leave button {
        margin: .5em;
        padding: .5rem;
    }

    .button-leave img {
        width: 1.5rem;
        margin-left: 30%;
    }

    .button-leave h2 {
        font-size: 1rem;
        white-space: nowrap;
    }

    .button-leave button:hover {
        filter: brightness(.8) sepia(1) hue-rotate(310deg);
    }

    .button-leave h2 {
        margin-right: 30%;
        margin-bottom: .7rem;
    }


    .task-sections-container {
        width: auto;
        max-width: 100%;
        justify-content: space-around;
        overflow: hidden;
    }

    .task-container {
        margin-top: 2em;
        max-width: 15%;
        border-radius: 17px;
    }

    .container-title h2 {
        padding: .5em;
        font-size: 1.5rem;
    }

    .task-card {
        min-height: 110px;
        padding: .7em;
        margin-bottom: 1em;
        border-radius: 17px;
        transition: background-color 0.3s ease-in;
        transition: box-shadow 0.2s ease-out;
    }


    .task-card:hover {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
        background-color: rgb(71, 79, 74);
    }

    .task-card:active {
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
        background-color: rgb(28, 31, 31);
    }

    .task-title {
        font-size: 1rem;
        font-family: JosefinSans-reg;
    }


    .task-user-info h3 {
        font-size: .8rem;
        font-family: JosefinSans-reg;
        margin-right: .5em;
    }

    .img_asignee {
        width: 1.5em;
    }

    /*Task detailed display/form */
    .display-task {
        width: 50rem;
        height: 35rem;

        padding: 1em;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 1rem;
    }

    .taskDisplay-section .dropdown {
        width: 25%;
    }

    .taskDisplay-section .button_dropdownmenu label {
        width: 100%;
    }

    .taskDisplay-section .dropdown span {
        font-size: 1rem;
    }

    .taskDisplay-userInfo {
        width: 25%;
    }

    .taskDisplay-userInfo h2 {
        font-size: 1em;
        padding: .5em;
    }

    .taskDisplayButton-section {
        display: flex;
        margin-top: 10%;
    }

    .taskDisplay-userInfo .dropdown {
        width: 100%;
    }
}