@font-face {
    font-family: Dosis-ExtraLight;
    src: url('../Fonts/Dosis-ExtraLight.ttf');
}

@font-face {
    font-family: JosefinSans-Light;
    src: url('../Fonts/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url('../Fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url('../Fonts/RobotoCondensed-Light.ttf');
}

.project_page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 95%;
    margin: auto;
    align-items: center;

}
.title-projectPage
{
    display: flex;
    width: 100%;
    justify-content: start;
    background-color: var(--color-primary-variation);
}
.title-projectPage label {
    font-size: 3rem;
    font-family: JosefinSans-Light;
    padding: .5em;
}
/* Project filter | Feature removed(temporarily)*/
.filter_project {
    display: flex;
}

.filter_project .button_dropdownmenu {
    display: flex;
    justify-content: flex-end;
}

.filter_project .button_dropdownmenu img {
    width: 8rem;
    padding: 1em;
}

/*Project display*/
.container_projects {
    display: flex;
    width: 100%;
    margin: 10% auto 0 auto;
    flex-wrap: wrap;
}


.project-card,
.button_addNewProject {
    align-items: top;
    justify-content: left;
    position: relative;

    width: 380px;
    height: 250px;
    margin: 0 2.5em 5em 2.5em;

    outline: 5px solid green;
    text-overflow: ellipsis;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #abb2a7;
    transition: background-color 0.2s ease-in;
    transition: box-shadow 0.3s ease-in-out;
}

.button_addNewProject {
    outline: 5px solid rgb(38, 43, 38);
    background-color: #929b91;
}
.button_addNewProject img
{
    position: absolute;
    
    width: 3rem;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    z-index: 0;
}
.button_addNewProject img:hover
{
    filter: brightness(.8) sepia(1) hue-rotate(60deg);
}
.button_addNewProject img:active
{
    width: 2.5rem;
}

.textfield_projectName {
    width: 100%;
    height: 30%;
    padding-left: .5em;

    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(38, 42, 39);

    font-family: RobotoCondensed-Regular;
    font-size: 2rem;
    
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.project-card:hover
 {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);

    background-color: rgb(209, 223, 208);
}

.project-card:active{
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

    background-color: rgb(205, 213, 203);
}

.title {
    width: 100%;
    height: fit-content;
    margin-top: .5rem;
    margin-left: 1rem;

    font-family: RobotoCondensed-Regular;
    font-size: 4rem;

    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Add ellipsis for overflow text */

    color: #2b392b
}

.title::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 4px;

    left: 0;
    top: 6rem;

    background-color: #242c24;
}

.project-card p {
    width: 100%;
    height: fit-content;
    margin: 2%;
    margin-left: 5%;

    font-family: JosefinSans-Light;
    font-size: medium;
    color: rgb(80, 103, 85)
}

.button_projectSettings {
    visibility: hidden;
    position: absolute;
    bottom: 25px;
    max-width: 20px;
    max-height: 20px;
    border: 0;
    background: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

}

.project-card:hover .button_projectSettings {
    opacity: 1;
    visibility: visible;
}

.button_projectSettings:hover+.prority_dropDown ul,
.prority_dropDown:hover {
    visibility: visible;
}

.button_projectSettings img {
    width: 100%;
    height: 100%;
    opacity: 60%;
}

.prority_dropDown ul {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 37%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    list-style-type: none;
}

.prority_dropDown li {
    padding: 5px 10px;

    width: 100%;
    background-color: rgb(245, 243, 229);
}

.prority_dropDown li:hover {
    background-color: rgb(228, 228, 228);
}

@media screen and (orientation: landscape) {

    .title-projectPage label {
        font-size: 2rem;
    }
    /*Feature removed(temp)*/
    .filter_project {
        justify-content: flex-end;
    }

    .filter_project .dropdown {
        max-width: 6rem;
        margin-right: 1.5em;
    }
    .filter_project .dropdown .dropdownmenu_list
    {
        top: 100%;
        left: 50%;
        transform: translate(-35%,0);
    }
    .filter_project .button_dropdownmenu {
        background-color: rgba(255, 255, 255, 0);
    }

    .filter_project .button_dropdownmenu img {
        width: 4rem;
        padding: 1em;
    }
    .filter_project .dropdown span {
        font-size: 1.25rem;
    }

    .container_projects {
        width: 100%;
        margin-top: 5%;
    }

    .project-card,
    .button_addNewProject {
        max-width: 280px;
        max-height: 180px;
        margin: 0 2.5em 1em 2.5em;

        outline: 2.5px solid green;
    }
    
    .title {
        font-size: 2rem;
    }

    .title::after {
        top: 3.5rem;
        height: 2px;
    }
}

@media screen and (max-width: 810px) and (orientation: portrait) {
    .container_projects {
        justify-content: center;
    }

    .project-card {
        width: 430px;
        height: 300px;
    }

}